<div class="container" fxlayout="row" fxlayout.sm="column" fxlayout.xs="column" fxlayoutalign.gt-md="space-around center" fxlayoutgap="10px" fxlayoutgap.xs="0">

      <div fxflex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
          <mat-card>
              <mat-card-header>
                  <mat-card-title>
                      <h3>{{dish.name | uppercase}}</h3>
                  </mat-card-title>
              </mat-card-header>
              <img mat-card-image="" src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
              <mat-card-content>
                  <p>{{dish.description}}</p>
              </mat-card-content>
              <mat-card-actions>
                  <button mat-button="" [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                  <button mat-button="" (click)="goBack()">BACK</button>
                  <button mat-button="">LIKE</button>
                  <button mat-button="">SHARE</button>
                  <span class="flex-spacer"></span>
                  <button mat-button="" [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
              </mat-card-actions>
          </mat-card>
      </div>
      <div [hidden]="dish || errMess">
          <mat-spinner></mat-spinner>
          <h4>Loading . . . Please Wait</h4>
      </div>
      <div fxFlex *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>
  

  <div fxflex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
      <!-- <p>Display the list of comments here</p> -->
      <mat-list>
          <h3>Comments</h3>
          <mat-list-item *ngFor="let comment of dish.comments">
              <p matline=""> {{comment.comment}} </p>
              <p matline=""> {{comment.rating}} Stars </p>
              <p matline=""> -- {{comment.author}} {{comment.date | date}}</p>
          </mat-list-item>
      </mat-list>


      <form novalidate="" [formGroup]="commentForm" #fform="ngForm" (ngsubmit)="onSubmit()">

          <div fxflex="" [hidden]="commentForm.invalid">
              <p matline=""> {{commentForm.value.commentMessage}} </p>
              <p matline=""> {{commentForm.value.rating}} Stars </p>
              <p matline=""> -- {{commentForm.value.authorName}} </p>
          </div>

          <p>
              <mat-form-field class="full-width">
                  <input matInput="" formControlName="authorName" placeholder="Your Name" type="text" required="">
                  <mat-error *ngIf="formErrors.authorName">{{formErrors.authorName}}</mat-error>
              </mat-form-field>
          </p>
          <p>
              <mat-slider formControlName="rating" class="slider-length" min="1" max="5" thumblabel="" tickinterval="1"></mat-slider>
          </p>
          <p>
              <mat-form-field class=" full-width ">
                  <textarea matInput="" formControlName="commentMessage" placeholder="Your Comment " rows="6" required=""></textarea>
                  <mat-error *ngIf="formErrors.commentMessage">{{formErrors.commentMessage}}</mat-error>
              </mat-form-field>
          </p>
          <button type="submit" mat-button="" class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
      </form>
  </div>
</div>